<html>
    <head>
        <meta charset="UTF-8" />
        <title>Document</title>
        <script src="https://cdn.tailwindcss.com"></script>
        <script src="https://unpkg.com/htmx.org@2.0.1/dist/htmx.js" integrity="sha384-gpIh5aLQ0qmX8kZdyhsd6jA24uKLkqIr1WAGtantR4KsS97l/NRBvh8/8OYGThAf" crossorigin="anonymous"></script>
    </head>
    <body>
        <main id="container" class="container mx-auto px-4 grid grid-cols-2 gap-4" >
            <div id="list-container" >
                <h1 class="" >Reminders</h1>
                <ul id="list" role="list">
                    {{ range . }}
                    {{ block "list-item" . }}
                    <li class="list-item" id="list-item-{{ .Id }}" >
                        <div>
                            <h2>{{ .Title }}</h2>
                            <p>ID: {{ .Id }}</p>
                            <p>{{ .Description }}</p>
                            <input
                                type="checkbox"
                                disabled
                                name="completed"
                                {{ if .Completed }}
                                checked="true"
                                {{ end }}
                            />
                            <label for="completed">Completed</label>
                        </div>
                        <div>
                            <input
                                type="button"
                                value="Complete"
                                hx-post="/reminders/{{ .Id }}/complete"
                                hx-target="#list-item-{{ .Id }}"
                                hx-swap="outerHTML"
                            />
                        </div>
                    </li>
                    {{ end }}
                    {{ end }}
                </ul>
            </div>
            <div id="form-container">
                <form
                    id="form"
                    name="form"
                    hx-post="/reminders"
                    hx-target="#list"
                    hx-swap="beforeend"
                >
                    <input type="text" name="title" />
                    <input type="submit" />
            </div>
        </main>
    </body>
</html>
